openapi: 3.2.0
info:
  version: 1.0.1
  description: The Rhumbix API is intended for use by Rhumbix customers and partners to build integrations with the Rhumbix application.
  x-logo:
    url: https://s3.amazonaws.com/rmbx-export-assets/rmbx_horizontal_logo_colored.png
  title: Rhumbix Public CORS API
servers:
- url: https://async-api.rhumbix.com
tags:
- externalDocs:
    url: https://www.w3.org/TR/cors/
  name: CORS
  description: Returns appropriate headers to enable CORS for cross-domain API requests
paths:
  /{company_key}/batch/employee/import:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchEmployeeImportOptions
  /{company_key}/batch/workshift/export/{batch_key}/status:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchWorkshiftExportStatusOptions
  /{company_key}/batch/workshift/export/{batch_key}/results:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchWorkshiftResultsOptions
  /{company_key}/batch/workshift/export:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchWorkshiftExportOptions
  /{company_key}/batch/project/import:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchProjectImportOptions
  /{company_key}/batch/employee/import/{batch_key}/status:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchEmployeeImportStatusOptions
  /{company_key}/batch/project/import/{batch_key}/status:
    options:
      responses:
        '200':
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          description: ok
      tags:
      - CORS
      summary: Returns appropriate headers to enable CORS for cross-domain API requests
      operationId: batchProjectImportStatusOptions
components:
  securitySchemes:
    api_key:
      in: header
      type: apiKey
      example: abcdefghijklmnopqrstuvwxyz0123456789
      name: x-api-key
    RMBXApiAuthorizer:
      example: abcdefghijklmnopqrstuvwxyz0123456789
      type: apiKey
      name: x-api-key
      in: header
x-servers:
- url: //async-api.rhumbix.com/V1_0_1
  description: Server URL
